@import url("https://use.typekit.net/zgl5bjk.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --border: 0% 94.9%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }
}
